body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f9;
}

#map {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

#peerName {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#qr, #reader, #status {
  margin: 20px auto;
  max-width: 200px;
}

#status {
  font-size: 18px;
  color: #333;
}
